@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;600&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Mirza", cursive;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

#evil-button {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  font-size: 2rem;
}
button {
  font-size: 2rem;
  font-family: "Mirza", cursive;
  border-radius: 1rem;
  border: 0px;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 255, 0.496);
  color: aliceblue;
}

button:hover {
  box-shadow: 0 0 10px gray;
}
